$color-primary-light: #cccada;
$color-primary: #a5a1c1;
$color-primary-dark: #595189;

$color-secondary: #cebf8b;
$color-secondary-dark: #9f8e4b;

$color-bg: #332d51;

$primary: $color-primary;
$input-bg: $color-primary-dark;
$input-border-color: $color-primary;
$input-color: white;
$input-placeholder-color: rgb(215, 215, 215);
$modal-content-bg: $color-bg;
$modal-content-color: white;
$modal-content-border-color: $color-primary;
$pagination-bg: $color-primary-dark;
$pagination-disabled-bg: #656565;
$dropdown-bg: $color-primary;

body {
    background-color: black !important;
}

a {
    color: white !important;
    text-decoration: none !important;
}

.container {
    background-color: $color-bg;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}


table {
    border-collapse: separate;
    border-radius: 15px;

    border: 7px solid $color-primary !important;
}

table td {
    background-color: $color-primary-dark !important;
    border: 1px solid $color-primary !important;
    color: white !important;

    vertical-align: middle;
    text-align: center;
}

table.table-borderless td {
    background-color: $color-bg !important;
    border: 0 !important;
}

table th {
    text-align: center;
    vertical-align: bottom;
}

table th {
    background-color: $color-primary !important;
}

#texts-input {
    display: flex;

    margin-top: 5px;
    margin-bottom: 20px;
}

#texts-input>select {
    width: 40%;
    margin-left: 20px;
}

#texts-input>button {
    width: 20%;
    margin-right: 20px;
}

#addTextFeedback, #blockFeedback {
    background-color: $color-primary-dark;

    display: flex;
    align-items: center;

    border: 3px solid $color-primary;

    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;

    margin-left: 20px;
}

#addTextFeedback.error, #blockFeedback.error {
    border-color: red;
}

#addTextFeedback.success, #blockFeedback.success {
    border-color: greenyellow;
}

.textActions {
    display: flex;
    justify-content: space-around;
}

#dailyText td {
    background-color: $color-primary !important;
    border: 1px solid $color-primary-dark !important;

    color: black !important;
}

#dailyText #dailyButton {
    background-color: $color-primary-dark !important;
    color: white !important;
}

.multibutton {
    width: 100%;
}

.multibutton>button {
    width: 50%;

    border-radius: 0px;
}

.multibutton>button:nth-child(1) {
    border-top-left-radius: 50px;
}

.multibutton>button:nth-child(2) {
    border-top-right-radius: 50px;
}

#navbarInfo {
    color: white;
    
    display: flex;
    align-items: center;

    margin-right: 30px;
}

.navbar {
    margin-bottom: 30px;
}

.currentScore>td {
    background-color: lightgreen !important;
    color: black !important;
}

.currentScore a {
    color: black !important;
}

.myScore>td {
    background-color: $color-primary-light !important;
    color: black !important;
}

.myScore a {
    color: black !important;
}

#userTitle {
    background-color: $color-primary-dark;
    border: 10px solid $color-primary;
    border-radius: 20px; 

    color: white;
}

#userTitle hr {
    background-color: $color-primary;
    height: 5px;

    margin-top: 20px;
    margin-bottom: 10px;
}

#userTitle div {
    display: flex;
    justify-content: left;
}

#userTitle div.title {
    margin-top: 20px;
    padding-left: 50px;

    font-size: x-large;
}

#userTitle div.stats {
    padding-left: 50px;
    margin-bottom: 10px;
    font-size: large;
}

#userTitle div.actions {
    padding-right: 50px;
    margin-top: 20px;
}

#userTitle div.actions button {
    width: 100px;
    border-radius: 20px;

    border-width: 5px;
    border-style: solid;

    margin-left: 20px;
}

#userTitle div.actions button.follow {
    background-color: greenyellow;
    border-color: rgb(160, 218, 72);
}

#userTitle div.actions button.unfollow {
    background-color: crimson;
    border-color: rgb(200, 44, 75);
}

#userTitle span {
    display: flex;
    align-items: center;
}

#userTitle div.stats span {
    margin-right: 40px;
}

#userTitle .titleBar {
    display: flex;
    justify-content: space-between;
}

.gold {
    background: linear-gradient(45deg, rgb(223, 195, 36), 80%, rgb(255, 255, 255));
    border: 5px solid rgb(195, 174, 56);
}

.silver {
    background: linear-gradient(45deg, rgb(203, 203, 203), 70%, rgb(255, 255, 255));
    border: 5px solid rgb(169, 169, 169);
}

.bronze {
    background: linear-gradient(45deg, #a97d35, 80%, rgb(255, 255, 255));
    background-color: #a97d35;
    border: 5px solid #83673a;
}

#userTitle #medals {
    margin-left: 20px;
    color: black;
    font-weight: bolder;
}

#userTitle #medals span {
    width: 80px;

    border-radius: 20px;
    margin-right: 20px;
    

    display: flex;
    justify-content: center;
}

#trends {
    margin-top: 50px;
    padding-top: 30px;
    padding-bottom: 20px;

    padding-right: 40px;
    
    background-color: $color-primary-dark;
    border: 10px solid $color-primary;
    border-radius: 20px; 

    color: white;
}

#trends hr {
    margin-left: 40px;
    height: 8px;
    background-color: $color-primary;
    border: 0;
    border-radius: 10px;
}

#trends h1 {
    margin-bottom: 25px;
}

#navbar {
    background-color: $color-primary-dark;
    border: 2px solid $color-primary;

    padding-left: 5px;
    border-radius: 15px;
}

#navbar li.nav-item {
    background-color: $color-bg;

    padding: 4px;

    margin-right: 5px;

    border-radius: 15px;
    border: 2px solid $color-primary;

    width: 100px;
}

#navbar li.nav-item:has(>a.active) {
    background-color: $color-primary;
}

#logout {
    background-color: $color-bg;
    color: white;
}

#profileNav {
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#profileNav a {
    width: 100%;
}

.blocked {
    color: red !important;
}

#gameHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: $color-primary-dark;
    border: 5px solid $color-primary;
    border-radius: 50px;

    padding-left: 30px;
    padding-right: 30px;

    padding-top: 10px;
    padding-bottom: 10px;


    color: $color-primary;
    font-size: large;
}

#gameHeader span {

    background-color: $color-bg;

    padding: 10px;

    border: 3px solid $color-primary;
    border-radius: 50px;
}

#gameHeaderMain {
    width: 50%;
    display: flex;
}

#gameHeaderMain #wpmSpan {
    display: block;
    width: 50%;
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    border-color: #7ab3d8ff;
    margin-right: 0;
}

#gameHeaderMain #accSpan {
    display: block;
    width: 50%;
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    border-color: #ef5e5eff;
    margin-left: 0;
}

#gameText {
    color: white;
    font-size: x-large;
    

    border: 5px solid $color-primary;
    border-top: 0;

    border-radius: 0px 0px 15px 15px;

    margin-left: 40px;
    margin-right: 40px;

    padding: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
}

#gameText .correct {
    background-color: green;
}

#gameText .incorrect {
    background-color: red;
}

#gameChart {
    background-color: $color-primary-dark;
    padding-right: 50px;
    padding-top: 10px;

    border: 5px solid $color-primary;
    border-top: 0;

    border-radius: 0px 0px 15px 15px;
}

@import "bootstrap/scss/bootstrap";
